	<!-- slider -->
	<section id="ht_slider_main clr">
		<div class="ht_slider_wraper">

			<section class="ht_slider_slides_parent">
				<div class="ht_slider_slides_wraper">
					<div class="slide1 slide active">
						<div>
							<div class="slider_content_text"></div>
						</div>
					</div>
					<div class="slide2 slide">
						<div>
							<div class="slider_content_text"></div>
						</div>
					</div>
					<div class="slide3 slide">
						<div>
							<div class="slider_content_text"></div>
						</div>
					</div>
					<div class="slide4 slide">
						<div>
							<div class="slider_content_text"></div>
						</div>
					</div>
                </div>
			</section>
		</div>
	</section>




	<!-- about us -->

			<!-- products womens,mens,shoes -->
			<section class="categeory-and-products mt wdth_ht_cont">
				<div class=" pd-topbot">
					<div class="wdth_auto" style="margin: 20px 0px;
					color: #a7a7a7;
					width: 100%;
					text-align: center;"><h2 class="textAl-c">- You Can -</h2></div>
					<div class="produsts_for mbs">
						<div class="clr row threecol">
							<div class="fl tc cat-womens">
								<div>
									<img src="/assets/images/plane3.jpeg">
									<p class="cat-womens-tag" [routerLink]="['/searchflight']">book flights</p>
								</div>
							</div>
							<div class="fl tc cat-shoes">
								<div>
									<img src="/assets/images/plane4.jpeg">
									<p class="cat-shoes-tag" [routerLink]="['/list-all-flight']">available flights</p>
								</div>
							</div>
							<div class="fl tc cat-mens">
								<div>
									<img src="/assets/images/plane5.jpeg">
									<p class="cat-mens-tag" [routerLink]="['/signup-user']">Sign up</p>
								</div>
							</div>
						</div>
					</div>
</div></section>


					<!-- footer -->
					
<section class="ht-footer">
	<div class="ht-footer-child clr wdth_ht_cont">
	  <div class="fl">
		<h2 class="ht-heading">T<span>R</span>avellPerk</h2>
		<p>@2022 Podes inc. All Rights Reserved</p>
	  </div>
	  <div class="fl">
		<p>Book tickets any fly</p>
		<p class="cp onhov" >Email : info.contact@gmail.com</p>
		<p class="cp onhov" >Phone : 123-456-7890</p>
	  </div>
	  <div class="fl">
		<p class="cp onhov" >Facebook</p>
		<p class="cp onhov" >Twitter</p>
		<p class="cp onhov" >Google</p>
	  </div>
	</div>
  </section>