<section id="RegHome" class="clr">
    <div>
        <div class="reg-form">
            <div id="signup-indicator" class="clr" style="margin-top:15px;">
                <div style="width:100%;">
                    <div class="textAl-c fl" style="width:50%;">
                        <button style="width:100%;" [routerLink]="['/login-user']">User login</button>
                    </div>
                    <div class="textAl-c fl" style="width:50%;">
                        <button style="width:100%;" [routerLink]="['/login-admin']">Admin login</button>
                    </div>
                </div>
            </div>
            <form [formGroup]="loginAdmin"(ngSubmit)="onSubmit()">
                <div>
                    <div class="form-row form-group">
                        <div class="col">
                          <input type="email" class="form-control" formControlName="admUsername" name="admUsername" placeholder="AdminNAme" required>
                          <div *ngIf="submitted && loginAdmin.controls['admUsername'].errors" class="error"> 
                            <div class="text-danger" *ngIf="loginAdmin.controls['admUsername'].errors['required']">Email is required</div> 
                          </div> 
                        </div>
                      </div>
                      <div class="form-row form-group">
                        <div class="col">
                          <input type="password" class="form-control" formControlName="admPassword" name="admPassword" placeholder="password" required>
                            <div *ngIf="submitted && loginAdmin.controls['admPassword'].errors" class="error"> 
                            <div class="text-danger" *ngIf="loginAdmin.controls['admPassword'].errors['required']">password is required</div> 
                          </div> 
                        </div>
                      </div>
                      <div class="tc"><button class="button" id="submit">loginAdmin</button> </div>
                </div>
        </form>
    </div>
    </div>
</section>