<app-flight-search></app-flight-search>
<table class="table flightResults" >
    <thead>
      <tr>
        <th scope="col">flight id</th>
        <th scope="col">flignt name</th>
        <th scope="col">arrival</th>
        <th scope="col">departure</th>
        <th scope="col">source</th>
        <th scope="col">destination</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fli of flights">
            <td>{{fli.flightId}}</td>
            <td>{{fli.flightName}}</td>
            <td>{{fli.flightArrival}}</td>
            <td>{{fli.flightDeparture}}</td>
            <td>{{fli.flightSour}}</td>
            <td>{{fli.flightDest}}</td>
            <td data-toggle="modal" data-target=".bd-example-modal-lg" (click)="setFightIdtoSession(fli)">
              <i class="bi bi-check2-square"></i></td>
        </tr> 
    </tbody>
  </table>
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-book-ticket></app-book-ticket>
    </div>
  </div>
</div>